
.form-ticket {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;

  }
.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.flex-outer > li > label, 
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li button {
    margin-left: auto;
    padding: 12px 18px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}
.flex-inner li {
    width: 100px;
    
}
.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;    
}


.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer li input:not([type="checkbox"]),
.flex-outer li textarea {
    font-size: 1.2em;
    padding: 15px;
    border: none;
}

.warning {
    color: #000000;
}

#form-ticket ul li > span {
    width: 100%;
    text-align: right;
}


/* Animacja przycisku */

.button {
    float: right;
    background-color: #ffffff;
    border: none;
    color: #000000;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
  }
.button:before,
.button:after {
    border: 0 solid transparent;
    transition: all 0.25s;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}
.button:before {
    border-top: 2px solid #c47135;
    left: 0px;
    top: -5px;
}
.button:after {
    border-bottom: 2px solid #c47135;
    bottom: -5px;
    right: 0px;
}
.button:hover {
    background-color: grey;
}
.button:hover:before,
.button:hover:after {
    height: 100%;
    width: 100%;
}